body{
    background-color: lightyellow;
}
/* NAVBAR */
.nav{
    position: relative;
    bottom: 3vh;
    background-color: aqua;
}
.navul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.navul li{

    padding: 2vw;
}
/* INTRODUCTION */
.intro
{
    border: 2px solid red;
    display: grid;
    padding: 3vw;
    grid-column-start: 3;
    grid-template-columns: auto;

}
 #hi
{
    font-size: large;
    display: flex;
    justify-content: center;
} 
.nameh{
    display: flex;
    justify-content: center;
}
/* About */
.About{
    margin: 10vh;
    display: flex;
    padding: 12px 12px 12px 12px;
}
.About img{
    position: relative;
    right: 10vw;
    max-width: 20vw;
    max-height: 32vh;
}
.Text{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 100;
    text-align: center;
    padding-top: 10vh;
}
.About h1{
    position: relative;
    bottom: 10vh;
    left: 40vw;
    /* text-align: center; */
    color: rgb(156, 83, 83);
    margin-bottom: 10vh;
}
/* SKILLS */
.skills
{
    border: 2px solid green;
    margin: 7vh;
    padding: 2vw;
}
.skillname
{
    display: flex;
    justify-content: center;
    list-style: none;
}