body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 20px;
    z-index: 1;
    /* color: black; */
}
a{
    text-decoration: none;
    color:black;
}
/* NAVBAR */
.nav{  
    background-color: rgb(205, 167, 167);
    width: 100vw;
    position: fixed;
    top: 0vh;
    left: 0vw;
    z-index: 3;
}
.navul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navul li{
    padding: 0 3vw;
}
/* INTRODUCTION */
#intro
{
    top: 15vh;
    display: grid;
    padding: 3vw;
    grid-column-start: 3;
    grid-template-columns: auto;
    z-index: 1;
    background-color: #F8EDE3;
    

}
 #hi
{
    margin: 12vh;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-weight: bold;
} 
.nameh{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
}
/* About */
#About{
    display: flex;
    align-items: center;
    justify-content: start; 
    flex-direction: row;
    padding: 12px 12px 12px 12px;
    overflow-x: hidden;
    z-index: 1;
    background-color: #DFD3C3;
}
.image img{
    padding: 20vh 0 20vh;
    max-width: 20vw;
    max-height: 32vh;
}
.Text{
    display:flex;
    flex-direction: column; 
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    word-wrap: break-word;
    position: relative;
    left: 7vw;
    bottom: 8vh;
    max-width: 50vw;
    padding: 20vh 0 20vh;
}

#About h1{
    position: relative;
    left: 25vw;
    bottom: 5vh;
    padding-top: 5vh;
    margin-bottom: 10vh;
}
/* SKILLS */
#skills
{
    padding: 30vh 0 30vh;
    z-index: 1;
    background-color: #D0B8A8;
}
#skills h1{
    position: relative;
    bottom: 20vh;
}
.m1{
grid-area: p1;
}
.m2{
grid-area: p2;
}
.m3{
grid-area: p3;
}
.skillname
{
    display: grid;
    grid: 'p1 p2 p3';
    list-style: none;
}
/* CONTACT */
#contact
{
   display: flex;
   z-index: 1;
   background-color: #7D6E83;
}
.handlesnav{
    list-style: none;
    margin-left: 2vw;
}
.handlesnav li{
    display: inline-block;
    padding: 1vw;
}
.center{
    position: relative;
    left: 45vw;
    margin-bottom: 12vh;
}
.nav2{
    float: right;
    position: relative;
    left: 38vw;
}
.navul2{
    position: relative;
    top: 20vh;
}
.navul2 li{
    display: inline-block;
    padding: 1vw;
}
.btn a:hover{
    color: white;
    /* background-color: darkorange; */
    border: 7px none;
    padding: 12px;
    /* border-radius: 25px; */
    cursor:grab;
    opacity: 1;

}
.git{
    max-width: 47px;
}
.pk:hover{
    position: relative;
    bottom: 5px;
    max-width: 45px;
}

/* -------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px ) {
 .navul2{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 22vh;
    left: 17vw;
 }
 .handlesnav{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 6vh;
    left: 2vw;
 }
 #About h1{
    position: relative;
    left: 20vw;
    bottom: 5vh;
    padding-top: 5vh;
    margin-bottom: 10vh;
}

}
@media only screen and (max-width: 770px) {
 .skillname
 {
    grid: 'p1 p2 '
           'p3 .';
 }
 .navul2{
    left: 2vw;
 }
}
@media only screen and (max-width: 600px) {
 .skillname
 {
    grid: 'p1'
          'p2'
          'p3';
 }
 .navul2{
    left: 0vw;
 }
 .center{
    left: 45vw;
 }
}
@media only screen and (max-width: 530px) {
    .navul2{
        display: none;

    }
    .center{
        left:26vw;
    }
    #About h1{
        left: 3vw;
    }
}
